body {
	padding: 10px;
}
pre {
	color: #FFF;
}
.col-6 {
	max-width: 49%;
}

.menu a {
	margin-left: 5px;
	margin-right: 5px;
}
.menu a.select {
	text-decoration: underline;
}
.pagination {
	position: absolute;
	right: 10px;
}
.pagination span, .pagination a {
	margin-left: 5px;
}

.r {
	border-style: dashed;
	border-width: 1px;
	margin: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-top: 5px;
}
.r:hover {
	border-style: solid;
}
.tdimg {
	background-color: #000;
	color: #FFF;
	font-family: Courier;
	font-size: 9pt;
	font-weight: 600;
	max-height: 300px;
	min-height: 100px;
	overflow-y: auto;
	padding: 5px;
}
.ip {
	font-size: 1.2em;
	padding-right: 10px;
}
.port {
	font-size: 1.2em;
	font-weight: bold;
}
.interp {
	font-size: 0.95em;
}



.s_unknown {
}
.s_failed {
	opacity: 0.7;
	border-color: #777;
}
.s_empty {
	opacity: 0.5;
	border-color: #555;
}
.s_timeout {
	opacity: 0.2;
	border-color: #222;
}
.s_refused {
	opacity: 0.2;
	border-color: #222;
}
.s_HTTP {
	border-color: blue;
	color: blue;
}
.s_FTP {
	border-color: #0FF;
	color: #0FF;
}
.s_MYSQL {
	border-color: green;
	color: green;
}
.s_SSH {
	border-color: red;
	color: red;
}
.s_Mail {
	border-color: #CC00CC;
	color: #CC00CC;
}
